@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = @localizer["Title"];
}

<section class="about">
    <h1>@localizer["Create"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label><br />
                    <input asp-for="Name" class="form-control" /><br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value=@localizer["Value"] class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index">@localizer["Back"]</a>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</section>